.card{
    margin-top: 60px;
    border: 2px solid #4E16B2 !important;
    transition: transform .3s linear, box-shadow .1s;
}
/* .card:hover{
    box-shadow: 2px 4px 32px #4E16B2;
    transform: translateY(-15px);
} */

.card-body{
    
    background: #191919 !important;
}
.card-body h4{
    font-size: 20px;
    color: #ddd !important;
}
.card-body h5{
    font-size: 15px;
    color: #ddd !important;
}