.main_container{
    background-image:url('https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-world-water-day-the-fish-that-longs-for-water-image_197959.jpg') ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.main-col:hover{
    box-shadow: 2px 2px 10px 10px#1e1f1c78;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
}