.dashboard_icon{
    border: none;
    margin: 10px 0;
    background: white;
}
.home,.admin,.explore,.pay,.revew{
    color: rgb(99, 98, 202);
    font-size: 25px;
    margin-right: 10px;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-1t29gy6-MuiToolbar-root,header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-19z1ozs-MuiPaper-root-MuiAppBar-root {
    background: black !important;
}