/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rampart+One&display=swap');
.main_footer2 {
    background-color: #03174b;

    color: white;
    font-family: 'Poppins', sans-serif;

}
span.icon {
    border-radius: 50%;
    margin: 0;
    padding: 0;margin-top:10px
}
span.icon >i{
    color:#34412c;
    transition:all 0.5s;
    cursor:pointer
}
span.icon >i:hover{
    color:aliceblue
}
span.details {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

i.m-2.fas.fa-map-marker-alt {
    font-size: 20px;
    color: red;
    transition:all 0.5s;
    cursor:pointer
}
i.m-2.fas.fa-map-marker-alt:hover{
     color: #8e0c0c;
}
i.m-2.fas.fa-phone-alt {
    font-size: 18px;
    color: dodgerblue;
      transition:all 0.5s;
        cursor:pointer
}
i.m-2.fas.fa-phone-alt:hover{
    color:#115292;
}

i.m-2.fas.fa-at {
    font-size: 19px;
    color: darksalmon;
      transition:all 0.5s;
        cursor:pointer
}
i.m-2.fas.fa-at:hover{
     color: #a46a57;
}
.pasa{
    font-size: 11px;
}
.main_list{
    list-style: none;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
}
.col-6{
    width: 35% !important;
}
.col-6 img{
    height: 56px;
    border-radius: 3px;
}
.hr{
    border: 1px solid white;
   
}

/* Social media icon */

i.m-2.fab.fa-facebook {
    color: white;
    cursor:pointer;
    transition:all 0.5s;
}
i.m-2.fab.fa-facebook:hover{
    color:#05a3ff
}

i.m-2.fab.fa-instagram {
    color: white;
      cursor:pointer;
    transition:all 0.5s;
}
i.m-2.fab.fa-instagram:hover{
    color:tomato
}
i.m-2.fab.fa-linkedin-in {
    color: white;
      cursor:pointer;
    transition:all 0.5s;
}
i.m-2.fab.fa-linkedin-in:hover{
    color:#007eff
}
i.m-2.fab.fa-twitter {
    color: #b3cceb;
      cursor:pointer;
    transition:all 0.5s;
}
i.m-2.fab.fa-twitter:hover{
    color:#3e90e4
}