
h5.h5_banner {margin-top: -25%;color: white;font-weight: 900;font-size: 39px;font-family: cursive;}

p.p_tag_banner {
    color: #00ffd0;
    font-size: 30px;
    font-family: cursive;
    background: #00000005;
}